/* FONTS */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url(http://fonts.googleapis.com/css?family=Nunito);

/* SPLASH */
.titlecustom {
    text-align: center;
    bottom:-40px;
}
.titlecustom h1{
    color:white;
    font-size: 71px;
    font-family: Nunito;
    margin-bottom: -20px;
}

.titlecustom h2{
    color:#2bb29d;
    font-size: 36px;
    font-family: Nunito;
}


/* BENEFITS */
.benefits{
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    background-color: white;
    z-index: 200;
    padding:100px 20px 20px 20px;
}

.benefit{
    min-height: 400px;
    max-width: 355px;
    border: 3px solid #c3c3c3;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 10px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px;
    margin:10px auto auto auto;
    padding:15px;
}

.benefit img{
    display:block;
    margin: -65px auto auto auto;
    position: relative;
    text-align: center;
}
.benefit p{
    color: #33363c;
    font-size: 18px;
    font-family: Open Sans;
}
h3{
    text-align: center;
    color:#2bb29d;
    margin-top: 25px;
    font-family: Nunito;

}

/* CONNECT */
.connect{
    z-index: 200;
    position: relative;
    background-color: #ff8758;
}

.connect h1{
    color: white;
}

/* SENIOR DESIGN */
.seniordesign{
    height: 1000px;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("img/campus.jpg");
}
.seniordesigncontent{
    margin: 20px auto auto auto;
}

h4 {
    font-family: Nunito;
    color: white;
    text-align: center;
}

.seniordesign p{
    font-family: Open Sans;
    color:white;
}

/* min-width 641px, MEDIUM */
@media only screen and (min-width: 40.063em) {
    .titlecustom{
        text-align: left;
    }

    .splashinner img{
        float: right;
    }
    .splashcontainer{
        position: relative;
        height:100%;
        max-height: 750px;
        background-color: #33363c;
    }

    .splashmiddle{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font: 0/0 a;
        -webkit-transform: translateZ(0);
    }

    .splashmiddle:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .splashinner{
        vertical-align: middle;
        display: inline-block;
        margin-top: -10%;
        -webkit-transform: translate3d(0,0,0);

    }
    .benefits{
        padding:150px 20px 150px 20px;
    }

}

/* max-width 640px, SMALL */
@media only screen and (max-width: 40em) {

        .titlecustom h1{
            font-size: 50px;
            margin-bottom: -10px;
        }

        .titlecustom h2{
            font-size: 25px;
        }
        .splashinner img{
            float: none;
            margin-bottom: -40px;
        }

        .splashcontainer{
            position: relative;
            height:400px;
            background-color: #33363c;
        }

        .splashinner{
            vertical-align: middle;
            display: inline-block;
            margin-top: 50px;
            -webkit-transform: translate3d(0,0,0);

        }
        .benefits{
            background-color: white;
            padding:60px 20px 60px 20px;
        }
}