/*----------------- FONTS -----------------*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Nunito');

/*----------------- SPLASH -----------------*/
.titlecustom {
    text-align: center;
    bottom:-40px;
}
.titlecustom h1{
    color:#22262b;
    font-size: 71px;
    font-family: Nunito;
    margin-bottom: -15px;
}

.titlecustom h2{
    color:#2bb29d;
    font-size: 36px;
    font-family: Nunito;
}


.splashcontainer img{
    position:relative;
    float: right;
}

.splashcontainer{
    height:750px;
    max-height:100%;
    background-attachment: fixed;
    background-position: 50% 75%;
    background-image: url("../img/geometry_@2X.png");
    background-color:#ffffff;
    background-repeat: repeat;
}

.splashcontainer .more{
    margin-top:90px;
}

.splashcontainer .button{
    width: 100%;
    height:80px;
    border: 4px solid #22262b;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 10px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px;
    color: #ff8758;
    background-color: rgba(255,0,255,0);;
    font-family: Open Sans;
    font-size: 25px;
    text-align:center;
    vertical-align: middle;
    line-height:70px;
    padding:0px;
}

.splashcontainer .drop .button{
    float: none;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    padding:0 5px 0 0px;
    font-family: Open Sans;
    font-size:45px;
    line-height: 70px;
    border-left: none;
    margin-left:-45px;
}

.absolutecenter {
    width: 100%;
    height: 50%;
    min-height: 200px;
    overflow: visible;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/*----------------- VIDEO SPLASH -----------------*/
.header {
    position: relative;
    overflow: hidden;
}

.header-video{
    position: relative;
    width: 100%;
    background-color: #fafafa;
    min-height: 250px;
    overflow: hidden;
}

iframe, video {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

iframe {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
}

.teaser-video {
    width: 100%;
    height: auto;
}

.header-media {
    width: 100%;
    height: auto;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

#dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.video-trigger {
    z-index: 5;
    position: absolute;
    background: #222;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 40px;
    bottom: 0;
    z-index: 5;
    margin-bottom: -40px;
    line-height: 40px;
    -webkit-transition: margin .4s;
    -moz-transition: margin .4s;
    transition: margin .4s;
}

.video-trigger:hover{
    color: #fafafa;
}

#video-trigger{
    background-color: #2bb29d;
}

#video-close-trigger{
    color: #ffffff;
    background-color: #22262b;
}
/*----------------- BENEFITS -----------------*/
.benefits{
    -webkit-transform: translate3d(0,0,0);
    background-color: white;
    padding:100px 20px 20px 20px;
}

.benefit{
    min-height: 400px;
    max-width: 355px;
    border: 3px solid #EDEDED;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 10px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px;
    margin:10px auto auto auto;
    padding:15px;
}

.benefit img{
    display:block;
    margin: -65px auto auto auto;
    text-align: center;
}
.benefit p{
    color: #33363c;
    font-size: 18px;
    font-family: Open Sans;
}
h3{
    text-align: center;
    color:#2bb29d;
    margin-top: 25px;
    font-family: Nunito;

}

/*----------------- CONNECT -----------------*/
.connect{
    background-color: #ff8758;
    padding:50px;
}

.connect h1{
    font-family: Nunito;
    color:white;
}

.connect span{
    height:10px;
}

.connect .button{
    width: 100%;
    height:80px;
    border: 3px solid white;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px 0px 0px 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 10px 0px 0px 10px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px 0px 0px 10px;
    background-color: white;
    color: #ff8758;
    font-family: Open Sans;
    font-size: 25px;
    text-align:left;
    vertical-align: middle;
    line-height:75px;
    padding:0 0 0 15px;
}

.connect .button:hover{
    background-color: #ff8758;
    color: #ffffff;
}

.connect input{
    height:80px;
    border: 3px solid white;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px 0px 0px 10px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 10px 0px 0px 10px;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 10px 0px 0px 10px;
    background-color: #ff8758;
    color: white;
    font-family: Open Sans;
    font-size: 25px;
    text-align:left;
    padding:15px 60px 15px 15px;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder {
    color: #ffffff;
}

.connect .prefix{
    display: inline-block;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    padding:0 5px 0 0px;
    font-family: Open Sans;
    font-size:45px;
    line-height: 70px;
    border-left: none;
    margin-left:-1px;
}

.connect .row{
    margin:50px auto 50px auto;
}

#emailtext.orangeplaceholder::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.51);
}

/*----------------- SENIOR DESIGN -----------------*/
.seniordesign{
    position: relative;
    height: 550px;
    overflow: auto;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("../img/campuscolor.jpg");
}

.seniordesigncontent{
    margin: auto auto auto auto;
}

h4 {
    font-family: Nunito;
    font-size: 56px;
    color: white;
    text-align: center;
}

.seniordesign p{
    font-family: Open Sans;
    color:white;
    font-size: 20px;
    line-height: 190%;
    text-align: left;
    text-justify: distribute;
}

.seniordesign span{
    padding-left: 3em;
    color:#2bb29d;
    font-weight: bold;
}

/*----------------- DEVELOPERS -----------------*/
.developers {
    padding-top: 10px;
    background-color: white;
}

.developer{
    margin:60px auto 60px auto;
}
.developers h1{
    font-size: 36px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.developers h2{
    font-size: 24px;
    text-transform: uppercase;
    color:#2bb29d;
}

.developers p{
    font-family: Open Sans;
    font-size: 18px;
}
.bio {
    margin-top:45px;
}

/*----------------- FOOTER -----------------*/
.footer{
    height:200px;
    background-color: #22262b;
    text-align:left;
    padding: 30px;
}

.footer h1{
    color: #6f7b80;
    font-family: "Open Sans";
    font-size:16px;
    margin-bottom: 0px;
    text-align: center;
}

.footer a{
    color: #6f7b80;
    text-decoration:underline;
}
/*----------------- min-width 641px, MEDIUM -----------------*/
@media only screen and (min-width: 40.063em) {
    .titlecustom{
        text-align: left;
    }

    .benefits{
        padding:150px 20px 150px 20px;
    }

    h4{
        font-size: 50px;
    }
}

/*----------------- max-width 640px, SMALL -----------------*/
@media only screen and (max-width: 40em) {

    .absolutecenter{
        height:100%;
        position:relative;
        overflow: visible;
        padding: 30px 0px 20px 0px;
    }

    /*----------------- SPLASH -----------------*/
    .titlecustom h1{
        font-size: 50px;
        margin-bottom: -10px;
    }

    .titlecustom h2{
        font-size: 25px;
    }

    .splashcontainer{
        height:550px;
        max-height: none;
        background: white url("../img/geometry_@2X.png") repeat;
    }
    .splashcontainer img{
        margin-top:50px;
        float: none;
        margin-bottom: -40px;
    }

    .splashcontainer .button{
        text-align: center;
        height:50px;
        line-height:45px;
        padding:0;
        font-size: 18px;
        margin-bottom: 20px;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 10px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 10px;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 10px;
    }


    .splashcontainer .drop{
        display: none;
    }

    /*----------------- BENEFIT -----------------*/
    .benefits{
        background-color: white;
        padding:60px 0px 60px 0px;
    }

    .benefit{
        min-height:0px;
        padding-bottom:40px;
    }

    .benefit h3{
        font-size:27px;
    }

    .benefit p{
        font-size:16px;
    }
    /*----------------- CONNECT -----------------*/
    .connect{
        padding:50px 10px 50px 10px;
    }

    .connect h1{
        font-size: 30px;
    }
    .connect .row{
        margin:20px auto 20px auto;
    }

    .connect .button{
        height:60px;
        font-size: 20px;
        line-height: 55px;
    }

    .connect .prefix{
        font-size:45px;
        line-height: 55px;
    }
    .connect input{
        height:60px;
        font-size: 20px;
        padding: 15px;
    }

    .error small.error {
        text-align: left;
    }

    /*----------------- SENIOR DESIGN -----------------*/
    .seniordesign{
        padding:60px 0 60px 0;
        height:auto;
        background-image:none;
        background-color: #22262b;
    }

    h4{
        font-size: 29px;
    }

    .seniordesign span{
        padding-left: 1em;
    }
    .seniordesign p{
        font-size: 18px;
        line-height: 150%;
    }

    /*----------------- DEVELOPERS -----------------*/
    .developer img{
        margin: auto;
        display: block;
        margin: auto;
    }

    .developer h1{
        font-size: 25px;
    }

    .developer h2{
        font-size:18px;
    }

    .bio{
        text-align: center;
        margin: auto;
    }
    .bio p{
        margin: auto;
        max-width:25em;
        padding:-10px 15px 0 15px;
        font-size: 16px;
        text-align: left;
    }

    /*----------------- FOOTER -----------------*/
    .footer h1{
        text-align: center;
        font-size:12px;
    }

}